@charset "UTF-8";

:root {
    --cor0: white;
    --cor1: #f7f3e4e1;
    --cor2: #BDB180;
    --cor3: #B09119;
    --cor4: #000000;
}

* {
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navegacao {
    text-align: right;
    display:inline;
}
.menu {
    list-style: none;
    display: inline flex;
}
.menu a {
    color: black;
    text-decoration: none;
    padding: 5px 14px;
}
.menu a:hover {
    color: var(--cor3);
}
.submenu {
    list-style: none;
    display: none;
    position: absolute;
    padding: 0px 15px;
}
.submenu a:hover {
    border-bottom: 1px solid black;
}
.submenu li {
    margin:10px 0px;
}
.menu li:hover .submenu {
    background-color: rgba(241, 241, 241, 0.952);
    display: block;
    border-radius: 3px;
}
.banner {
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}
#boas-vindas {
    display: inline-block;
    font-size: 1.7em;
    width: 35%;
}
#apresentacao {
    display: inline-block;
    width: 35%;
}