@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header img {
    display: inline;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
ul {
    list-style: none;
    display: flex;
}
.submenu {
    display: none;
    position: absolute;
}
.menu li:hover .submenu {
    display: block;
}