@charset "UTF-8";

:root {
    --cor0: white;
    --cor1: #f7f3e4e1;
    --cor2: #BDB180;
    --cor3: #B09119;
    --cor4: #000000;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.top {
    margin-top: 5px;
    display: inline-flex;
    width: 100vw;
    height: 50px;
    text-align: right;
}
div#logo {
    background-image: url('image/top-2.png');
    background-size: 130px 50px;
    background-position: center center;
    border-radius: 13px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
}
div#navegacao {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 70px;
    box-sizing: border-box;
    width:100%;
    height:50px;
}
.menu {
    list-style: none;
    display: inline flex;
}
.menu a {
    font-size: 1.1em;
    margin: 0px 30px;
    color: black;
    text-decoration: none;
}
.menu a:hover {
    color: var(--cor3);
}
.submenu {
    font-size: 0.9em;
    text-align: center;
    list-style: none;
    display: none;
    position: absolute;
}
.submenu li {
    margin: 10px 0px;
}
.menu li:hover .submenu {
    background-color: rgba(241, 241, 241, 0.952);
    border-radius: 3px;
    display: block;
}
main {
    max-height: 100%;
}
div#banner {
    background-image: url('image/baner1.png');
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    height: 540px;
}
div#apresentacao {
    padding: 70px;
    margin: auto;
    box-sizing: border-box;
    display: inline-block;
    width: 44%;
    min-height: 75px;
    max-height: 100%;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 4px 40px rgba(0, 0, 0, 0.342);
}
article {
    align-items: center;
    display: inline-block;
    box-sizing: border-box;
    width: 54%;
    height: 100%;
}
article p {
    text-align: left;
    text-indent: 50px;
    font-size: 1.3em;
    margin: 30px 0px;
}
footer {
    padding: 20px;
    background-color: #000000;
    height: 100%;
    width: 100%;
}
footer  img {
    margin: 0px 15px;
    width: 50px;
    height: 50px;
}
footer img:hover {
    width: 53px;
    height: 53px;
    transition-duration: 0.3s;
}

