@charset "UTF-8";

@media print {
    * {
        margin: 0%;
        padding: 0%;
    }
    header, footer, div.instrucoes, h1 {
        display: none;
    }
    table.lista-tel {
        font-size: .5em;
        display: block;
        width: 90;
        height: 90%;
        padding: 0%;
    }
}

